/*=== 全站通用样式 start ===*/

/*图标*/
i[class^="xzicon-"] {
    color: #f7448f !important;
}
/*按钮*/
.btn.important, .btn.blockBtn, .btn.pay {
    background-color: #ec0971 !important;
    border-color: #ec0971 !important;
}
/*圆角单选框*/
.hookLabel .hookBox:after {
    background-color: #ec0971 !important;
    border-color: #ec0971 !important;
}
.hookLabel .hook {
    color: #fff !important;
}
.circleLabel input:checked + .circle, .circleLabel.activeLabel .circle {
    background-color: #ec0971;
    color: #ec0971;
}
/*文本框focus状态*/
input.textInput:focus {
    border-color: #ec0971 !important;
}
/*选择开关*/
.switchLabel .switchBox:after {
    background-color: #ec0971;
}
/*杂项*/
.iBc, .hookLabel .hookBox:after, .textInput.important, .textarea.important, .selectBtn.active, .tabs a.active, .pagingBox a.active, .search, .selectItem.active .selectLink .circleLabel .circle {
    /*border-color: #0e465f;*/
}
.iBgc, .hookLabel .hookBox:after, .blockBox.important, .pagingBox a.active, .search, .search .searchBtn .btn, .stepBox .stepItem span, .flotAddBtn, #dragDownFreshBarContainer .refreshBg {
    background-color: #f7448f;
}
.sC, .selectBtn.active, .dialogBtnBox .button, .exhibitList > li.active:after, .selectFootBar .b4 {
    color: #ec0971;
}
/*组件/应用标题*/
.appTitle h2 {
    font-size: 16px !important;
}
/*社会化登陆图标*/
.user_social i {
    padding: 10px;
    border: 1px solid #f7448f;
    border-radius: 50%;
}
/*退出登陆按钮*/
a.btn.blockBtn.important[role="logoutBtn"] {
    height: auto;
    line-height: inherit;
    background-color: initial !important;
    border: none;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: 1px;
}
/*商品列表模块通用样式*/
.goods_list .appColumn .latticePad {
    margin-top: 10px;
}
@media (max-width: 767px) {
    .goods_list .goods_list_btnBox {
        /*margin-top: 0;*/
    }
}

/*去除html元素的margin-top*/
.appWrapper[data-appid="htmlcode"] {
    margin-top: 0;
}
/*隐藏响站链接*/
.copyright a[href*="xiangzhan.com"] {
    display: none;
}
div[id^="a148"] {
    display: none;
}

/*=== 全站通用样式 end ===*/

/*=== 页头 ===*/

/*---- old -----*/
/*顶部菜单导航*/
#app_0771121791666450 a, #app_0771121791666450 a:link {
    /*--color: #0e465f !important;*/
}
#app_0771121791666450 .navItemBar {
    line-height: 34px;
}
/*搜索框*/
.goods_search .search .searchBtn .btn {
    /*border-color: #0e465f;*/
}
.goods_search .search i.xzicon-search {
    color: #fff !important;
}


/*---- new ----*/

#app_0771121791666450 .navItemBar {
    color: #fff;
}





.goods_search .search .searchBtn .btn {
    background-color: #fff;
    border-color: #fff;
}

.goods_search .search i.xzicon-search {
    color: #ceb26b !important;
}

.goods_search .search {
    border-color: #fff;
    background-color: #fff;
}

.goods_search .search .searchInput .textInput {
    height: 30px;
}

.goods_search .search .searchBtn .btn {
    height: 30px;
    line-height: 30px;
}

.goods_search .search .searchBtn {
    width: 40px;
}

.goods_search .search .searchInput {
    margin-right: 42px;
}






.goods_list .goods_list_bar.goods_list_1_bar {
    background-color: #fff;
}
.goods_list .goods_list_pricebox.goods_list_1_pricebox {
    text-align: left !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    line-height: 24px;
}

.goods_list_info.goods_list_1_info {
    padding-left: 10px;
    padding-right: 10px;
}

.goods_list .goods_list_info .title {
    line-height: 24px !important;
    height: 48px !important;
    overflow: hidden;
    text-align: left;
}
.goods_list .goods_list_info .title {
    font-size: 14px;
}

.goods_list .goods_list_pricebox.goods_list_1_pricebox span.price.sC.h4 {
    font-size: 18px !important;
    font-weight: bold;
    color: #ec0971 !important;
}



/*== 顶部导航 ==*/
div#app_2378630758728660 {
    position: absolute;
    width: 100%;
    top: 100%;
}
div#el_14908598674884xw11 {
    position: relative;
    background-color: #c39c59;
}
#app_2378630758728660 .goods_category_6_container.categoryList {
    background-color: #fff;
}
.goods_category_6_list>.goods_category_link {
    color: #222 !important;
    font-size: 14px;
    font-weight: bold;
}
#app_2378630758728660 .goods_category_6_sonBox.hasSon {
    display: none !important;
}
#app_2378630758728660 .goods_category_pic.goods_category_6_pic {
    background-image: url(http://www.osmun.com.cn/src/images/icon_02.png);
    background-repeat: no-repeat;
    background-position: center;
}
#app_2378630758728660 .goods_category_pic.goods_category_6_pic img {
    display: none !important;
}
#app_0771121791666450 .navItem {
    margin-top: 10px;
    margin-bottom: 10px;
}

#app_0771121791666450 .con_body {
    height: auto;
}

#el_14668427095518dk828 {
    padding-top: 0;
    padding-bottom: 0;
}

#app_1665276087716679 .text p {
    line-height: 55px;
    padding-left: 15px;
    font-size: 16px;
    color: #fff;
}

div#app_6462776059206324 {
    margin-top: 10.5px;
}
#app_0771121791666450 li.family.navItem ul.navSon li a {
    font-size: 13px;
    line-height: 44px;
}
#app_0771121791666450 {
    text-align: left;
}
#app_0771121791666450 li.family.navItem ul.navSon {
    width: 260%;
    left: -80%;
    margin-left: 0;
}
#app_0771121791666450 li.family.navItem ul.navSon li {
    border-bottom: 1px solid #eee;
}
li.goods_category_list.goods_category_6_list {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.goods_category_6_list>.goods_category_link {
    padding-top: 8px;
    padding-bottom: 8px;
}
#el_146683514388513ps3 {
    border-bottom: none;
}
#el_14670261117595i5u1 .span6 .boxBlock {
    margin-left: 0;
}
/* （pad横屏） */
@media (min-width: 961px) and (max-width: 1199px) {
#app_0771121791666450 .navItem {
    margin-left: 20px;
    margin-right: 20px;
}
.goods_category_6_list>.goods_category_link .goods_category_6_name {
    margin-left: 10px !important;
}
}

#app_0771121791666450 .navItem:nth-child(2):hover,#app_0771121791666450 .navItem:nth-child(3):hover {
    border-bottom: none;
}

#app_0771121791666450 li.family.navItem ul.navSon {
    top: 44px;
    margin-top: 0;
}
#app_5500345888940088 .navMenu {
    border: none;
}
.nav i.xzicon-menu {
    color: #fff !important;
}
div#el_1466848341732m6s6129 {
    display: none;
}
#el_14668475418527lgf104 .iconBar_1 .icon {
    font-size: 14px;
}
/* （手机） */
@media (max-width: 767px) {
.nav_1 .navList {
    width: 60%;
    min-width: initial;
    /*right: 0 !important;*/
    /*left: auto !important;*/
}
#el_14668351438694d8e2 {
    padding-left: 10px;
    padding-right: 10px;
}
#el_1466847517671qdb778 {
    padding-left: 10px;
    padding-right: 10px;
}
}
/* （pad竖屏） */
@media (min-width: 768px) and (max-width: 960px) {
#el_1466842517837s03u27 {
    position: initial !important;
    height: auto;
    display: block;
}

}
/* （pad竖屏） */
@media (min-width: 768px) and (max-width: 960px) {
#el_14670261117595i5u1>.rowPatch>.span3:first-child {
    display: none;
}

#el_14670261117595i5u1>.rowPatch>.span6 {
    width: 70%;
}

#el_14670261117595i5u1>.rowPatch>.span3 {
    width: 30%;
}

#el_1466842517837s03u27 {
    overflow: visible;
}
#app_0771121791666450 .navItem {
    margin-left: 25px;
    margin-right: 25px;
}
#el_1466842200931r2ir26 {
    padding-top: 30px;
}

}

/* （pad竖屏） */
@media (width: 768px) {
.nav_1 .navMenuContainer {
    display: none;
}

.nav_1 .navContainer {
    display: block;
    position: initial;
    background-color: #ceb26b;
}

.nav_1 .navList {
    position: initial;
    width: 100%;
    background-color: #ceb26b;
    min-width: initial;
    box-shadow: none;
}

#app_0771121791666450 .navItem {
    float: left;
}

#app_0771121791666450 li.family.navItem ul.navSon {
    background-color: #fff;
    position: absolute;
    z-index: 99999999999;
}

#app_0771121791666450 li.family.navItem:hover ul.navSon {
    display: block !important;
}
.nav_1 .navList {
    overflow: visible;
}
.nav_1 .navArrow {
    display: none;
}
.nav_1 .navSon {
    visibility: hidden;
}
}
#app_5096608576655280 a.btn.blockBtn.important {
    height: auto;
    line-height: inherit;
    background-color: initial !important;
    border: none;
    color: #777;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}
#el_149137272060841k31 .span7 .boxBlock {
    margin-left: 0;
    text-align: left;
}
#el_149137272060841k31 .span5 .boxBlock {
    margin-left: 0;
    text-align: center;
}
#el_14668475418527lgf104 .span3:nth-child(1) {
    position: relative;
    top: -0.8px;
}
#app_0771121791666450 li.family.navItem .navItemBar {
    pointer-events: none;
}
#el_1466842517837s03u27 {
    cursor: default !important;
}
#el_1466841614255u9sc12 {
    max-width: 220px;
}
#el_14668416142585ero18 {
    text-align: center;
    border-right: 1px solid #ffffff;
    padding-right: 15px;
}

#el_1491787034338n27d2 .iconBar_1 .icon {
    font-size: 14px;
}
#el_1491787034338n27d2>.rowPatch>.span2 {
    width: 16%;
}
#el_1491787034338n27d2>.rowPatch>.span5 {
    width: 42%;
}
#el_1491787034338n27d2 .boxBlock {
    margin-left: 0;
}

#el_1491787034338n27d2 .rowPatch {
    margin-left: 0;
}

#el_1491787034338n27d2 {
    padding: 10px;
    background-color: #f8f8f8;
}
#el_1491789692079f9vq1 {
    float: left;
}

#el_1491789727993bxg52 {
    float: left;
    margin-left: 10px;
}

#el_1491789727993bxg52 a.btn.blockBtn.important[role="logoutBtn"] {
    color: #777;
}
@media (max-width: 1024px) {
    .nav_1 .navItem:hover ul {
        visibility: hidden;
    }
}
.visibility_toggle {
    visibility: visible !important;
    animation: fadeIn 1s ease;
}
.fadeOut {
    animation: fadeOut 5s ease forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 767px) {
    #el_1491787034338n27d2 {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        border-bottom: 1px solid #ddd;
    }
    #wrapper {
        padding-top: 43px;
    }
}

/*=== 全局页中+首页页中 ===*/

#mainContainer {
    background-color: #f8f8f8;
}
/*banner*/
#app_8508541372721103 {
    background-color: #f8f8f8;
}
#app_8508541372721103 > .sliderBlock {
    ---max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/*中间的商品分类标题*/
#el_1467004421650dofl42 .goods_category_list {
    font-size: 18px;
}
#el_146710645757350al1 .goods_category_list {
    font-size: 18px;
}

#el_1492053921859o6ui3 {
    text-align: center;
}

a.goods_category_list.inline {
    color: #666666;
    font-size: 18px;
    padding: 10px 30px;
    border: 1px solid #999999 !important;
}

a.goods_category_list.inline:hover {

}
#el_1492054041564sahl7 {
    text-align: center;
}

#el_1466909285574d4wf2 {
    padding-bottom: 0;
}

#el_1492053921859o6ui3 {
    margin-top: 30px;
}
#el_1492054041564sahl7 {
    margin-top: 30px;
}
@media (max-width: 767px) {
    #el_1466909285574d4wf2, #el_1466935411106m36k82 {
        padding-left: 10px;
        padding-right: 10px;
    }
    #el_1467004421650dofl42 .goods_category_list, #el_146710645757350al1 .goods_category_list {
        padding: 10px 30px;
    }
    #el_1467004421650dofl42, #el_146710645757350al1 {
        text-align: center;
    }
}



/*=== 页尾 ===*/
/*隐藏底部导航时间*/
#el_1466935590582njia149 time.article_list_time.fr {
    display: none;
}
#el_1466935590582njia149 a.article_list_title.article_list_1_title.clearfix {
    line-height: 26px;
}
#el_1466935590582njia149 a.article_list_title.article_list_1_title.clearfix {
    text-overflow: initial !important;
    margin-right: 40px;
}
#el_1466935493682lq8g147 .span3 .appWrapper[data-appid="paragraph"] {
    border-bottom: none !important;
}
#el_1466934967910ngb678 {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width: 767px) {
    #el_1466935493682lq8g147 .span3 .appWrapper[data-appid="paragraph"] {
        padding-bottom: 0;
        margin-top: 10px;
        font-size: 16px;
    }
}
/*右侧悬浮条*/
#app_6757174153088972 {
    cursor: pointer;
}
#el_1467005103761ryyg3 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
}

#el_1467005103761ryyg3 {
    z-index: 0;
}
#el_1467005107469cr5j4>.appWrapper {
    border-bottom: 1px solid #ccc;
}

#app_8010177416361774 > .appMask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    display: none;
}
#app_8010177416361774 > .appContent {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    background-color: #fff;
    z-index: 1001;
    display: none;
}

#el_1466995624195sg5l9 .iconBar_1 .text {
    margin-left: 0;
}

#el_1466995624195sg5l9 .iconBar_1 .icon {
    font-size: 18px;
    color: #aaa !important;
}
#el_1492068048406vsms1 {
    cursor: pointer;
}

/*=== 后台侧栏用户中心 ===*/
.user_center {
    padding-left: 15px;
    padding-bottom: 15px;
}

.user_center_2 {
    border: 1px solid #eee;
    padding: 20px 20px 0 20px;
}
@media (min-width: 961px) and (max-width: 1199px) {
    .user_center {
        padding-left: 0 !important;
    }
}
.user_center_2_info a.pic img {
    width: 84px !important;
    height: 84px !important;
}
@media (min-width: 768px) and (max-width: 960px) {
    .user_center_2_orderTab.user_center_orderTab {
        display: none;
    }
}
@media (min-width: 961px) and (max-width: 1199px) {
    .user_center_2_orderTab.user_center_orderTab {
        display: none;
    }
}
@media (max-width: 767px) {
    .user_center {
        display: none;
    }
}
