@media (max-width: 767px) {
    .user_center {
        display: block;
    }
}
#app_0238572501528412 {
    margin-top: 0;
    background-color: #fff;
}
.user_center {
    padding-left: 30px;
    padding-right: 30px;
}
@media (min-width: 961px) and (max-width: 1199px) {
    .user_center {
        padding-left: 30px !important;
    }
}
@media (max-width: 767px) {
    .user_center {
        padding-left: 10px;
        padding-right: 10px;
    }
    #el_1470206576077f1g81 {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }
}
#el_1470206576077f1g81 {
    padding-top: 20px;
    padding-bottom: 0;
}
.user_center_4_nav ul li {
    width: 33.333333333% !important;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

.user_center_4_nav ul {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.user_center_4_nav .icon {
    font-size: 24px;
}

.user_center_4_nav ul li a {
    padding: 30px 0 !important;
}
.user_center_4_list.user_center_list {
    margin-bottom: 30px;
}
.user_center_4_photo.user_center_photo.fl {
    float: none;
}

.user_center_4_nickBox.user_center_nickBox {
    float: none;
    text-align: center;
}

.user_center_4_info.user_center_info {
    text-align: center;
}
.user_center_4_orderTab.user_center_orderTab i[class^="xzicon-"] {
    font-size: 24px;
}
